{% extends 'main_app/_base.html' %}
{% load static %}
{% block content %}

<!-- Start Blog Section -->
<section id="blog" class="bg-white dark:bg-gray-900 mt-24">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="font-barlow font-semibold xs:text-[48px] text-[40px] dark:text-white xs:leading-[76.8px] leading-[66.8px] w-full main-title text-center text-gray-950">Browse All our blogs</h2>
            <p class="font-barlow dark:text-white text-[18px] text-center mt-4 text-gray-950">
                In this blog section, we write about IT, Programming and several other Computer related topics.
                We try as much as possible to cover indepth details pertaining the topic under discussion. Feel free to browse our blog.
            </p>
        </div>
        <div class="grid gap-8 lg:grid-cols-2">
            {% for blog in blogs %} 
            <article class="p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
                <div class="flex justify-between items-center mb-5 text-gray-500">
                    <span class="font-barlow bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                        <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                        {{ blog.category }}
                    </span>
                    <span class="text-sm font-barlow">{{ blog.time }}</span>
                </div>
                <h2 class="font-barlow mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">{{ blog.title }}</a></h2>
                <div class="mb-5 font-light text-gray-500 dark:text-gray-400 leading-loose">
                    {% autoescape off %}
                        {% if blog.body|length > 200 %}
                            {{ blog.body|truncatechars:200 }}...
                        {% else %}
                            {{ blog.body }}
                        {% endif %}
                    {% endautoescape %}
                </div>
                <div class="flex justify-between items-center">
                    <div class="flex items-center space-x-4">
                        <img class="w-7 h-7 rounded-full" src="{% static 'images/voltage_pic.svg' %}" alt="{{ blog.author }}" />
                        <span class="font-medium dark:text-white font-barlow">
                            {{ blog.author }}
                        </span>
                    </div>
                    <a href="{% url 'blog_detail' blog.id %}" class="inline-flex items-center font-medium text-secondary dark:text-secondary hover:underline">
                        Read more
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>
            </article>       
            {% endfor %}   
        </div>
    </div>
  </section>
<!-- End Blog Section -->

{% endblock content %}