{% extends 'main_app/_base.html' %}
{% load static %}
{% block content %}
<section class="border-b border-gray-100 dark:border-gray-700 pt-20">
    <div class="px-4 py-8 mx-auto lg:py-16">
        <div class="mt-20">
            <h2 class="mb-4 font-barlow font-semibold xs:text-[48px] text-[40px] xs:leading-[76.8px] leading-[66.8px] w-full main-title dark:text-white text-gray-900">VoltageITLabs Privacy Policy</h2>
        </div>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Introduction</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            This privacy policy ("Policy") outlines how VoltageITLabs ("the Company," "we," or "us") collects, uses, and protects 
            the personal information of individuals who visit or use our website and services ("Users," "you," or "your"). We are committed 
            to safeguarding your privacy and handling your personal information in accordance with applicable data protection laws. 
            By using our website or services, you consent to the practices described in this Policy.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Information We Collect</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            Personal Information: We may collect personal information such as your name, email address, contact information, and 
            any other information you voluntarily provide to us when you fill out forms, interact with our website, or communicate with us.
        </p>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            Usage Information: We may collect non-personal information about your interactions with our website and services, 
            such as your IP address, browser type, device information, 
            and browsing patterns. We may use cookies or similar technologies to collect this information.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Use of Information</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            We use the information we collect for the following purposes:
        </p>
        <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To provide and maintain our web development services.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To communicate with you, respond to your inquiries, and provide customer support.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To personalize and enhance your experience on our website.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To send you promotional materials, newsletters, or other marketing communications, subject to your preferences and applicable laws.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To analyze and improve our website and services.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>To protect our rights, enforce our terms and conditions, and comply with legal obligations.</span>
            </li>
        </ul>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            We will not sell, rent, or lease your personal information to third parties unless we have your permission or are required by law to do so.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Data Retention</h3>
        <ul class="mb-8 space-y-4 text-left text-gray-500 dark:text-gray-400">
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>We will retain your personal information for as long as necessary to fulfill the purposes outlined in this Policy, unless a longer retention period is required or permitted by law.</span>
            </li>
            <li class="flex items-center space-x-3">
                <!-- Icon -->
                <svg class="flex-shrink-0 w-5 h-5 text-green-500 dark:text-green-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                <span>We may retain and use your information to comply with our legal obligations, resolve disputes, and enforce our agreements.</span>
            </li>
        </ul>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Data Security</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            We implement reasonable security measures to protect your personal information against unauthorized access, disclosure, 
            alteration, or destruction. However, no data transmission over the internet or electronic storage method is completely 
            secure, so we cannot guarantee absolute security.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Third-Party Websites and Services</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            Our website may contain links to third-party websites or services that are not operated by us. 
            We are not responsible for the privacy practices or content of these third-party sites. 
            We encourage you to review their privacy policies before providing any personal information.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Children's Privacy</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            Our website and services are not directed to individuals under the age of 16. We do not knowingly collect 
            personal information from children. If you believe that we have inadvertently collected information from a child, 
            please contact us, and we will take appropriate steps to remove the information from our systems.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Your Rights</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            You have the right to access, correct, update, or delete your personal information. 
            You may also have the right to object to certain processing activities or request 
            the restriction of processing. To exercise these rights, please contact us using 
            the information provided at the end of this Policy.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Changes to this Policy</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            We reserve the right to update or modify this Policy at any time. Any changes will be effective upon posting the revised 
            Policy on our website. We encourage you to review this Policy periodically for any updates. Your continued use of our 
            website and services after the changes indicates your acceptance of the revised Policy.
        </p>
        <h3 class="font-barlow font-semibold text-gray-950 dark:text-white text-xl leading-[23px] mb-4">Contact Us</h3>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            If you have any questions, concerns, or requests regarding this Privacy Policy or our privacy practices, please contact 
            us at voltageitlabs@gmail.com.
        </p>
        <p class="mb-10 text-lg font-barlow text-gray-900 dark:text-white lg:text-lg lg:mb-8">
            By using our website and services, you acknowledge that you have read, understood, and agreed to this Privacy Policy.
        </p>
        <small class="dark:text-gray-400 text-gray-900">Last updated: 28/06/2023</small>
    </div>
</section>
{% endblock content %}