{% extends 'main_app/_base.html' %}
{% load static %}
{% block content %}
<section id="project-success" class="flex items-center justify-center h-screen">
    <div class="sm:my-16 my-6 rounded-[20px] box-shadow sm:px-16 px-6 sm:py-12 py-4 mb-6 ml-7 md:ml-16 sm:ml-16 ss:ml-7 xs:ml-7 md:mr-10 mr-7 sm:mr-16 lg:mr-20 text-center dark:bg-gray-800">
      <i class="fa-solid fa-circle-check text-green-800 text-7xl mb-4"></i>
      <h5 class="mb-2 text-3xl font-bold text-secondary text-center">Success!</h5>
      <h1 class="font-barlow text-[18px] dark:text-white text-center text-gray-950">Project Submitted Successfully, Thank you for trusting VoltageLabs!</h1>
    </div>
</section>  
{% endblock content %}